[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
scipy = "*"
opencv-python-headless = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3"
